<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <p>📞 <%= @restaurant.phone_number %></p>
  <%= link_to "🥘", restaurants_path, class: 'btn btn-block'  %>
</div>
